.featuressection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.featuressectionboldtext {
  top: 1731px;
  font-family: Now;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #30fbef;
  margin-left: 65px;
}

.featurecardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.featurecard {
  padding-bottom: 50px;
}

.featuressectionfooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}

.featuressectioncircles {
  margin-left: 65px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.featurespurplecirlce {
  width: 10px;
  height: 10px;
  top: 2591px;
  left: 333px;
}

.featureswhitecircle {
  width: 5px;
  height: 5px;
  top: 2594px;
  left: 353px;
}

.featuressectionarrrows {
  margin-right: 50px;
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .sectioncontainer {
    width: 80%;
    margin: 0px;
    margin-left: 50px;
    margin-bottom: 100px;
    padding: 0px;
  }
  .featurecardcontainer {
    flex-direction: column;
    padding: 0px;
    height: auto;
    width: auto;
  }

  .featuressectionboldtext {
    margin: 0px;
    font-size: larger;
  }

  .featurecard {
    padding: 0px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .featuressectionfooter {
    gap: 25px;
    margin: 0px;
    padding: 0px;
  }
}
