.featurecard {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 50px;
  box-shadow: -9px -9px 10px 0px #4b5d681a;
  box-shadow: 9px 9px 10px 0px #00000040;
  background: #212121;
  padding: 20px;
  gap: 20px;
}

.featurecardimage {
  top: 1923px;
  left: 416px;
}

.featurecardboldtext {
  top: 2175px;
  left: 383px;
  font-family: Now;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #30fbef;
}

.featurecardmaintext {
  font-family: Now;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #ffffff;
  height: 160px;
}

.featurecardfooter {
  font-family: Now;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.5%;
  vertical-align: middle;
  color: #30fbef;
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .featurecard {
    height: auto;
    margin: 0px;
    gap: 0px;
    padding: 0px;
  }
  .featurecardimage {
    width: 80%;
  }

  .featurecardboldtext,
  .featurecardmaintext,
  .featurecardfooter,
  .featurecardimage {
    padding: 0px;
    margin: 0px;
  }

  .featurecardboldtext {
    font-size: 16px;
  }
  .featurecardmaintext {
    font-size: 12px;
  }

  .featurecardfooter {
  }
}
