.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  font-family: Now;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 1%;
  color: #30fbef;
}

.footercol1,
.footercol2,
.footercol3,
.footercol4 {
  display: flex;
  flex-direction: column;
}

.footercol4 {
  gap: 30px;
}

.footercol1-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 60px;
  top: 67px;
  left: 150px;
  gap: 10px;
}

.footercol4-2 {
  display: flex;
  gap: 20px;
  margin-bottom: 107px;
}

.footercol1,
.footercol2,
.footercol3 {
  gap: 30px;
}

.footercol2,
.footercol3 {
  margin-top: 20px;
}

.footercol2-1 {
  margin-top: 5px;
}

.footercol2-2,
.footercol3-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footercol2 div:hover,
.footercol3 div:hover,
.footercol4 div:hover {
  cursor: pointer;
}
