.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.insignia-circle {
  width: 60px;
  height: 60px;
  top: 67px;
  left: 150px;
  width: 60px;
  height: 60px;
  display: block;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 60px;
  top: 67px;
  left: 150px;
  gap: 10px;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 576;
  height: 60;
  top: 67px;
  left: 874px;
}

.navbar-right span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.navbar-right span:hover {
  color: #30fbef;
  cursor: pointer;
}

.requestbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 210;
  height: 60;
  top: 67px;
  left: 1240px;
  border-radius: 50px;
  background: #282828;
  box-shadow: -3px -3px 8px 0px #4b5d681a;
  box-shadow: 4px 3px 8px 0px #00000040;
}
