.featurecard {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 50px;
  box-shadow: -9px -9px 10px 0px #4b5d681a;
  box-shadow: 9px 9px 10px 0px #00000040;
  background: #212121;
  padding: 20px;
}

.featurecardimage {
  width: 240px;
  height: 240px;
  top: 1923px;
  left: 416px;
}
