.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  margin-right: 150px;
}

.bottomleft {
  font-family: Now;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 1%;
  vertical-align: middle;
  color: #30fbef;
}

@media screen and (max-width: 768px) {
  .bottom {
    flex-direction: column;
    margin: 50px;
    gap: 20px;
  }
}
