body {
  color: white;
  background-color: #282828;
}

button {
  color: #30fbef;
  width: 210px;
  height: 60px;
  border-radius: 50px;
  background-color: #282828;
  box-shadow: -3px -3px 8px 0 rgba(75, 93, 104, 0.1),
    4px 3px 8px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
}
/* @media screen and (max-width: 768px) {
  .downloadsectioncontainer div {
    background-color: wheat;
  }
} */

/* .testimonialsectioncontainer {
  width: 1118px;
  top: 3721px;
  left: 240px;
  border-radius: 50px;
  border-width: 1px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  box-shadow: 2px 2px 40px 0px #0000004d inset;
} */
